<html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add trips></h1>
        <form id = "add trip" action = "./addtrip" method = "post">
            <label for = "trip-title">Title:</label>
            <input id = "trip-title" type = "text">
            <label for = "trip-imgsrc" type = "text"></label>
            <input id = "trip-imgsrc" type = "url" name = "tripImgsrc"> 
            <label for = "date-depart">Departure Date:</label>
            <input for = "date-depart" type = "date" name = "dateDepart">
            <label for = "date-return" type = "date" name = "dateReturn"></label>
            <input id = "date-return" type = "date" name = "dateReturn">
            <input type = "submit" value = "Add">
    
        </form>
</body>
</html>
